node_modules/
/vendor/
.DS_Store
composer.lock
*.js.map
*.css.map
yarn-error.log


node_modules
/silverstripe-cache/
/.env
/themes/simple/
/_resources/
/public/_resources/
/.graphql-generated/
/public/_graphql/

